<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    	{% for item in site.data.navigation.languages %}
		{% if item.language == page.lang %}
		{% for link in item.links %}
		{% if link.url contains "http" %}
		{% assign url = link.url %}
		{% else %}
		{% assign url = link.url | relative_url %}
		{% endif %}
	        <li>
	            <a href="{{ url }}">{{ link.title }}</a>
	        </li>
        {% endfor %}
		{% endif %}
		{% endfor %}
        </ul>
    </div>
