<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    	{% for item in site.data.navigation.languages %}
		{% if item.language == page.lang %}
		{% for link in item.links %}
		{% if link.url contains "http" %}
		{% assign url = link.url %}
		{% else %}
		{% assign url = link.url | relative_url %}
		{% endif %}
	        <li>
	            <a href="{{ url }}">{{ link.title }}</a>
	        </li>
        {% endfor %}
		{% endif %}
		{% endfor %}

        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for page in pages %}
        <li class="flag-lang-{{ page.lang }}">
            <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}"></a>
        </li>
        {% endfor %}

        </ul>
    </div>
