<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li>
            <a href="{{site.baseurl}}/">Home</a>
        </li>
        <li>
            <a href="#">Skills</a>
        </li>
        <li>
            <a href="#">Projects</a>
        </li>
        <li>
            <a href="#">Experiences</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/services/">Services</a>
        </li>
        <li>
            <a href="#">Publications</a>
        </li>
        <li>
        </li>
    </ul>
</div>