<section id="conference-timeline">
    <div class="conference-center-line"></div>
    <div class="conference-timeline-content">
        <div class="timeline-article">
            <div class="content-left-container">
                <div class="content-left">
                    <h5>2018</h5>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="content-right-container">
                <div class="content-right">
                    <h4>Lorem ipsum.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nihil at repellat unde ratione quisquam optio, harum, pariatur asperiores iste sequi, dolorum aspernatur illo ullam dolor explicabo reprehenderit cupiditate quam!</p>
                </div>
            </div>
            <div class="meta-date"></div>
        </div>
        <div class="timeline-article">
            <div class="content-left-container">
                <div class="content-left">
                    <h5>2014</h5>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="content-right-container">
                <div class="content-right">
                    <h4>Lorem ipsum.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nihil at repellat unde ratione quisquam optio, harum, pariatur asperiores iste sequi, dolorum aspernatur illo ullam dolor explicabo reprehenderit cupiditate quam!</p>
                </div>
            </div>
            <div class="meta-date"></div>
        </div>
        <div class="timeline-article">
            <div class="content-left-container">
                <div class="content-left">
                    <h5>2010</h5>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="content-right-container">
                <div class="content-right">
                    <h4>Lorem ipsum.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nihil at repellat unde ratione quisquam optio, harum, pariatur asperiores iste sequi, dolorum aspernatur illo ullam dolor explicabo reprehenderit cupiditate quam!</p>
                </div>
            </div>
            <div class="meta-date"></div>
        </div>
    </div>
</section>