// this file contains the style for table component
/*****************************
  -- TABLE
*****************************/
@import "../common/theme";
$spacer:1rem;
$table-bg: white;
$table-cell-padding: .75rem;
$table-border-width: 1px;
$table-border-color: #dee2e6;
$table-cell-padding-sm: 10px;

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  border: $table-border-width solid $table-border-color;

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border: $table-border-width solid $table-border-color;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  td {
	width: 16.86%;
    max-width: 100%;
  }

  thead {
    th,
    td {
      border-bottom-width: (2 * $table-border-width);
      background-color: rgba(0,0,0,.03);
      border-bottom: 1px solid rgba(0,0,0,.125);
      font-size: 16px;
      line-height: 26px;
      color: #555;
      font-weight: 400;
    }
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

  table {
    background-color: $table-bg;
  }
}


//
// Condensed table w/ half padding
//

table-sm {
  th,
  td {
    padding: $table-cell-padding-sm;
  }
}