// this file contains the style for table component
/*****************************
	-- TABLE
*****************************/
@import "../common/theme";
table{
  thead{
    padding: 33px 25px 30px;
    border-bottom: 1px solid #ececec;
    >tr {
      >th {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 0 10px 20px;
      }
    }
  }

  tbody{
    >tr{
      >td{
        padding: 10px 0 10px 15px;
        font-size: 16px;
        vertical-align: middle;
        color: #333;
      }
    }
  }
}