---
layout: default
---
<!--================================
        START HERO AREA
=================================-->
<section class="hero-area hero--1 bgimage">
    {% for item in site.data.index.banner.languages %}
    {% if item.language == page.lang %}
    {% for it in item.banner %}
    <div class="bg_image_holder">
        <img src="{{ it.image | prepend: site.baseurl | prepend: site.url }}" alt="{{ it.image_alt }}">
    </div>
    <!-- start hero-content -->
    <div class="hero-content content_above">
        <!-- start .contact_wrapper -->
        <div class="content-wrapper">
            <!-- start .container -->
            <div class="container">
                <!-- start row -->
                <div class="row">
                    <!-- start col-md-12 -->
                    <div class="col-md-12">
                        <div class="hero__content__title">
                            <h1>
                                <span class="light">{{ it.text1 }}</span>
                                <span class="bold">{{ it.text2 }}</span>
                            </h1>
                            <p class="tagline">{{ it.text3 }}</p>
                        </div>
                        <!-- start .hero__btn-area-->
                        <div class="hero__btn-area">
                            <a href="#about-me" class="btn btn--round btn--lg">{{ it.buttontext1 }}</a>
                            <a href="#" class="btn btn--round btn--lg">{{ it.buttontext2 }}</a>
                        </div>
                        <!-- end .hero__btn-area-->
                    </div>
                    <!-- end /.col-md-12 -->
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end .contact_wrapper -->
    </div>
    <!-- end hero-content -->
    {% endfor %}
    {% endif %}
    {% endfor %}
</section>
<!--================================
        END HERO AREA
=================================-->
<!--================================
        START OVERVIEW AREA
    =================================-->
<section class="overview-area section--padding" id="about-me">
    {% for item in site.data.index.about.languages %}
    {% if item.language == page.lang %}
    {% for it in item.about %}
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <!-- start col-md-12 -->
            <div class="col-md-12">
                <div class="section-title">
                    <h1>{{ it.heading }}</h1>
                    <p>{{ it.subheading }}</p>
                </div>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
        <div class="row">
            <div class="col-lg-4 offset-lg-1 col-md-6 v_middle overview_cont">
                <div class="overview-icon">
                    <img src="{{ it.image | prepend: site.baseurl | prepend: site.url }}" alt="{{ it.image_alt }}">
                    <span>
                        <a href="mailto:Robert.Marz@its-people.de">
                            <span class="lnr lnr-envelope info-icon"></span> Robert.Marz@its-people.de </a>
                    </span>
                    <p>
                        <a href="https://twitter.com/RobbieDatabee?lang=de" target="_blank">
                            <span class="fa fa-twitter"></span> @RobbieDatabee
                        </a>
                    </p>
                </div>
            </div>
            <!-- end /.col-md-4 -->
            <div class="col-lg-5 offset-lg-1 col-md-6 v_middle overview_cont">
                {{ it.text }}
            </div>
            <!-- end /.col-md-5 -->
        </div>
        <!-- end /.row -->
        <div class="row m-5">
            <div class="col-md-4 v_middle">
                <img src="{{ it.image1 | prepend: site.baseurl | prepend: site.url }}" alt="it.image1_alt" class="img-fluid">
            </div>
            <div class="col-md-4 v_middle">
                <img src="{{ it.image2 | prepend: site.baseurl | prepend: site.url }}" alt="it.image2_alt" class="img-fluid">
            </div>
            <div class="col-md-4 v_middle">
                <img src="{{ it.image3 | prepend: site.baseurl | prepend: site.url }}" alt="it.image3_alt" class="img-fluid">
            </div>
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
    {% endfor %}
    {% endif %}
    {% endfor %}
</section>
<!--================================
        END OVERVIEW AREA
    =================================-->
<!--================================
        START FEATURE AREA
    =================================-->
<section class="feature_start section--padding">
    {% for item in site.data.index.publication.languages %}
    {% if item.language == page.lang %}
    {% for it in item.publication %}
        <!-- start container -->
        <div class="container">
            <div class="row">
                <!-- start col-md-12 -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>{{ it.heading }}</h1>
                        <p>{{ it.subheading }}</p>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% assign publications = site.publications | where:"lang", page.lang %}
        <!-- start row -->
        <div class="row">
            {% for publication in publications %}
            <div class="col-lg-4">
                <div class="feature">
                    <div class="feature__img">
                        <img src="{{ publication.image | prepend: site.baseurl | prepend: site.url }}" alt="">
                    </div>
                    <div class="feature__title">
                        <a href="{{site.baseurl}}{{ publication.url }}">
                            <h3>{{ publication.title }}</h3>
                        </a>
                    </div>
                    <div class="feature__desc">
                        <p>{{ publication.content | markdownify | strip_html | truncate: 70 }}</p>
                    </div>
                </div>
                <!-- end /.feature -->
            </div>
            {% endfor %}
            <!-- end /.col-md-4 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
        END FEATURE AREA
    =================================-->
<!--================================
        START CALL TO ACTION AREA
    =================================-->
<section class="call-to-action bgimage">
    {% for item in site.data.index.skills.languages %}
    {% if item.language == page.lang %}
    {% for it in item.skills %}
    <div class="bg_image_holder">
        <img src="{{ "/images/2019-07-Seattle.jpg" | prepend: site.baseurl | prepend: site.url }}" alt="">
    </div>
    <div class="container content_above">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-wrap">
                    <h1 class="text--white">{{ it.heading }}</h1>
                    <h4 class="text--white">{{ it.subheading }}</h4>
                    <a href="{{site.baseurl}}{{ it.buttonlink1 }}" class="btn btn--round btn--lg btn--white callto-action-btn">{{ it.buttontext1 }}</a>
                    <a href="{{site.baseurl}}{{ it.buttonlink2 }}" class="btn btn--round btn--lg btn--white callto-action-btn">{{ it.buttontext2 }}</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
</section>
<!--================================
        END CALL TO ACTION AREA
=================================-->
<!--================================
        START FEATURE AREA
=================================-->
<section class="features section--padding">
    {% for item in site.data.index.services.languages %}
    {% if item.language == page.lang %}
    {% for it in item.services %}
    <!-- start container -->
    <div class="container">
        <div class="row">
            <!-- start col-md-12 -->
            <div class="col-md-12">
                <div class="section-title">
                    <h1>{{ it.heading }}</h1>
                    <p>{{ it.subheading }}</p>
                </div>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        {% assign services = site.services | where:"lang", page.lang %}
        <!-- start row -->
        <div class="row">
            {% for service in services %}
            <div class="col-lg-4">
                <div class="feature">
                    <div class="feature__img">
                        <img src="{{ service.image | prepend: site.baseurl | prepend: site.url }}" alt="">
                    </div>
                    <div class="feature__title">
                        <a href="{{site.baseurl}}{{ service.url }}">
                            <h3>{{ service.title }}</h3>
                        </a>
                    </div>
                    <div class="feature__desc">
                        <p>{{ service.content | markdownify | strip_html | truncate: 70 }}</p>
                    </div>
                </div>
                <!-- end /.feature -->
            </div>
            {% endfor %}
            <!-- end /.col-md-4 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
    {% endfor %}
    {% endif %}
    {% endfor %}
</section>
<!--================================
        END FEATURE AREA
    =================================-->