---
---
<!DOCTYPE html>
<html lang="{{ page.lang }}">

<head>
    {% include head.html %}
    <style>
    html,
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 900px;
        margin: 40px auto;
    }
    </style>
    <link href='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css' rel='stylesheet' />
    <link href='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css' rel='stylesheet' />
    <script src='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js'></script>
    <script src='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js'></script>
    <link href='{{ "/assets/css/tooltip.css" | prepend: site.baseurl | prepend: site.url }}' rel='stylesheet' />
    <script src='https://unpkg.com/popper.js/dist/umd/popper.min.js'></script>
    <script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>
    {% assign today= site.time | date: "%Y-%m-%d" %}
    {% assign talks = site.talks | where:"lang", page.lang %}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var initialLocaleCode = '{{ page.lang }}';

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid'],
            defaultView: 'dayGridMonth',
            defaultDate: '{{ today }}',
            locale: initialLocaleCode,

            eventRender: function(info) {
                var tooltip = new Tooltip(info.el, {
                    title: info.event.extendedProps.description,
                    placement: 'top',
                    trigger: 'hover',
                    container: 'body'
                });
            },

            events: [
                {% for talk in talks %}
                {
                    title:"{{talk.title}}",
                    description: "{{talk.description}}",
                    start: '2019-09-13T07:00:00',
                    url:"{{site.url }}/{{talk.url}}"
                }
                {%unless forloop.last %},{%endunless%}
            {% endfor %}
            ]
        });

        calendar.render();
        calendar.setOption('locale', '{{ page.lang }}');
    });
    </script>
</head>

<body>
     <!-- Page Wrapper -->
    <div id="preload home2 single-vendor">
    {% include header.html %}
    <section class="section--padding4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="shortcode_modules">
                        <div class="modules__title">
                            <h1>{{ page.title }}</h1>
                            <h3> {{ page.subtitle }}</h3>
                        </div>
                        <div class="modules__content">
                            <div id='calendar'></div>
                            <div class="alert alert-info" role="alert">
                                <span class="alert_icon lnr lnr-bullhorn"></span>
                                Click on the event to see more information.
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include footer.html %}
    </div>
</body>

</html>
